/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #212529;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}
a {
  text-decoration: none;
  color: #212529;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* 共同區塊 -header-mobile*/

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  padding: 8px 12px;
  position: relative;
  font-family: "Mina", sans-serif;
}
.logo::after {
  content: "";
  background-color: #c0fa73;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: -1;
}
.logo:hover,
.member-link:hover {
  color: #c0fa73;
}

.desktop-nav {
  display: none;
}
/* index-加入會員 */
.member-promo {
  margin-top: 24px;
  background-color: #e8fec5;
  .promo-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 20px;
      font-weight: 700;
      margin-right: 16px;
    }
    a {
      color: #ffffff;
      background-color: #212529;
      border-radius: 4px;
      padding: 8px 16px;
      margin: 24px 0;
    }
    a:hover {
      color: #c0fa73;
    }
  }
}

.footer {
  margin-top: 32px;
  margin-bottom: 24px;
  .footer-top {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .logo {
      margin-bottom: 4px;
      align-self: flex-start;
    }

    .nav-list a {
      display: block;
      margin-left: 12px;
      margin-top: 4px;
      padding: 12px 0;
    }
    .nav-list a:hover {
      color: #c0fa73;
    }
  }
  .footer-bottom {
    padding-top: 32px;
    text-align: center;
    color: #6c757d;
    font-size: 14px;
    border-top: 1px solid #dee2e6;
    .copyright {
      margin-bottom: 4px;
    }
  }
}

/* brandStory.html */
.brand-banner {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./img/c7e2e0d7111d666be94562b6f4830973da8b0621.png);
  min-height: 240px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  .brand-title {
    text-align: center;
    color: #ffffff;
    h1 {
      font-weight: 700;
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 8px;
    }
    h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
.brand-intro {
  max-width: 856px;
  background-color: #f5fee7;
  margin: 32px auto;
  padding: 24px;
  h3 {
    color: #57a203;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  p {
    font-weight: 400;
  }
  p:not(:last-child) {
    margin-bottom: 4px;
  }
}
.brand-about {
  max-width: 856px;
  margin: 16px auto 0 auto;
  padding-bottom: 32px;
  border-bottom: 1px solid #dee2e6;
  h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  h5 {
    font-weight: 700;
    line-height: 1.2;
    color: #57a203;
    margin-bottom: 12px;
  }
  p {
    font-weight: 400;
  }
  p:nth-child(3) {
    margin-bottom: 12px;
  }
}
.brand-history {
  max-width: 856px;
  margin: 32px auto;
  padding-bottom: 32px;
  border-bottom: 1px solid #dee2e6;
  h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  ul {
    padding-left: 24px;
  }
  li {
    list-style: disc;
    font-weight: 400;
  }
  li:not(:last-child) {
    margin-bottom: 12px;
  }
  span {
    border-left: 1px solid #212529;
    padding-left: 8px;
    margin-left: 8px;
  }
}
.brand-concept {
  max-width: 856px;
  margin: 32px auto;
  padding-bottom: 32px;
  border-bottom: 1px solid #dee2e6;
  h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  li {
    font-weight: 400;
    padding-left: 12px;
    border-left: 3px solid #dee2e6;
  }
  li:not(:last-child) {
    margin-bottom: 12px;
  }
}
.brand-story {
  max-width: 856px;
  margin: 32px auto;
  padding-bottom: 32px;
  border-bottom: 1px solid #dee2e6;
  h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  li {
    padding: 8px 0;
  }

  .story-link {
    border-bottom: 1px solid #57a203;
    padding-bottom: 4px;
  }
  a {
    font-weight: 500;
    color: #57a203;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
/* index-header */
.mobile-nav-list {
  display: flex;
}
.mobile-nav-list li {
  text-align: center;
  flex: 1;
  background-color: #e8fec5;
}
.mobile-nav-list li:hover {
  background-color: #f5fee7;
}

.mobile-nav-list a {
  display: block;
  padding: 12px 0;
}

/* index-banner */

.banner {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-sm.png?raw=true);
  min-height: 480px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 8px;
    font-weight: 700;
  }
  p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 32px;
    font-weight: 700;
  }
  a {
    padding: 12px 24px;
    background-color: #c0fa73;
    border-radius: 4px;
    &:hover {
      background-color: #e8fec5;
      color: #4c4c4c;
    }
  }
}
/* index-新品上市 */
.new-products {
  padding: 40px 0 16px 0;
}
.new-products-title {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 700;
  h2 {
    font-size: 32px;
    margin-bottom: 8px;
  }
  p {
    font-size: 24px;
  }
}

.new-products-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;

  li {
    width: 50%;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 24px;
    img {
      margin-bottom: 8px;
    }
    h3 {
      font-weight: 700;
    }
    a:hover {
      opacity: 0.7;
      color: #4c4c4c;
    }
  }
}

/* index-熱銷補貨 */
.restock-section {
  padding: 40px 0;
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    padding: 5.5px 0;
  }
}
.restock-product-card-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -8px;
  overflow-x: auto;
  scrollbar-width: none;
  li {
    padding: 0 8px;
    flex: 0 0 70%;
  }
  span {
    position: absolute;
    left: 0;
    top: 0;
    color: #57a203;
    font-size: 14px;
    background-color: #f5fee7;
    padding: 8px 12px;
  }
  a {
    position: relative;
    display: block;
    &:hover {
      opacity: 0.7;
    }
  }
}

/* index-跨界聯名 */
.collab-section {
  padding: 24px 0;
  .collab-banner {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded-sm.png?raw=true);
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .collab-title {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .decoration-star {
      position: absolute;
      left: -20px;
      top: 40px;
      width: 48px;
      height: 48px;
    }
    .decoration-line {
      position: absolute;
      right: -30px;
      bottom: 70px;
      width: 76px;
      height: 64px;
    }

    h3 {
      color: #ffffff;
      font-size: 32px;
      font-weight: 700;
    }
    span {
      color: #c0fa73;
      font-size: 28px;
      font-weight: 700;
    }

    p {
      color: #adb5bd;
      text-align: center;
    }

    .collab-subtitle {
      color: #ffffff;
      font-size: 20px;
      margin-top: 16px;
      margin-bottom: 24px;
    }
    a {
      margin-top: 32px;
      padding: 12px 24px;
      background-color: #c0fa73;
      border-radius: 4px;
    }
    a:hover {
      color: #ffffff;
    }
  }
}

/* index-系列選購 */
.product-series {
  padding: 40px 0 38px 0;
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
}
.product-series-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
  li {
    width: 50%;
    padding: 0 6px;
    margin-bottom: 12px;
    a {
      position: relative;
    }
    a:hover {
      opacity: 0.7;
    }
    img {
      filter: brightness(60%);
    }
    .series-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      text-align: center;
    }
    h4 {
      margin-bottom: 8px;
      white-space: nowrap;
    }
  }
}

/* index-穿搭靈感 */
.style-guide {
  padding: 40px 0;
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .style-guide-list {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .style-guide-left,
  .style-guide-center,
  .style-guide-right {
    flex-shrink: 0;
    ul {
      display: flex;
    }
    li {
      flex: 0 0 316px;
      padding-left: 8px;
      padding-right: 8px;
    }
    img {
      object-fit: cover;
    }
  }
}

/* productsList.html */
.product-list-layout {
  padding-top: 16px;
  padding-bottom: 16px;
}
.breadcrumb {
  .breadcrumb-list {
    display: flex;
    gap: 8px;
    font-size: 14px;
    a,
    li {
      color: #6c757d;
    }
    li:nth-child(5) a {
      color: #212529;
    }
    a:hover,
    li:nth-child(5) a:hover {
      color: #c0fa73;
    }
  }
}
.product-list-title {
  margin: 12px 0;
  font-size: 24px;
  font-weight: 700;
  padding: 9.5px 0;
}
/* product-layout */

.product-sidebar {
  display: none;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
  .card {
    width: 50%;
    padding: 0 6px;
    margin-bottom: 24px;
    img {
      margin-bottom: 8px;
    }
    .product-name {
      font-weight: 700;
    }
  }
}

.pagination {
  margin-top: 8px;
  .pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 4px;
    }
    li:first-child {
      margin-left: 0;
      margin-right: 8px;
    }
    li:last-child {
      margin-left: 8px;
      margin-right: 0;
    }
    .active {
      background-color: #c0fa73;
    }
    a {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li:hover {
      background-color: #c0fa73;
    }
  }
}

/* RWD */
@media (min-width: 768px) {
  /* brandStory.html */
  .brand-main {
    img {
      width: 100%;
      max-width: 1076px;
      margin: 0 auto;
    }
  }
  .brand-banner {
    min-height: 400px;
    .brand-title {
      h1 {
        font-size: 40px;
        margin-bottom: 16px;
      }
      h2 {
        font-size: 28px;
      }
    }
  }

  .brand-intro {
    margin: 64px auto;
    padding: 32px;
    text-align: center;
  }
  .brand-about {
    padding-bottom: 48px;
    h4 {
      font-size: 24px;
      margin-bottom: 24px;
    }
    h5 {
      font-size: 20px;
    }
    p:nth-child(3) {
      margin-bottom: 16px;
    }
  }
  .brand-history {
    margin: 48px auto;
    padding-bottom: 48px;
    h4 {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  .brand-concept {
    margin: 48px auto;
    padding-bottom: 48px;
    h4 {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  .brand-story {
    margin: 48px auto;
    padding-bottom: 48px;
    h4 {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  /* index */
  .header-inner {
    padding: 17px 0;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
    margin-left: 48px;
    .desktop-nav-list {
      display: flex;
      gap: 40px;
      a {
        padding: 12px 0;
      }
      a:hover {
        color: #c0fa73;
      }
    }
  }
  .member-link {
    margin-left: auto;
  }
  .banner {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner.png?raw=true);
    justify-content: start;
    .banner-content {
      margin-left: 200px;
      h1 {
        font-size: 64px;
      }
      p {
        font-size: 28px;
      }
    }
  }
  .new-products {
    padding: 64px 0 24px 0;
  }
  .new-products-title {
    margin-bottom: 32px;
    h2 {
      font-size: 48px;
    }
    p {
      font-size: 32px;
    }
  }
  .new-products-list {
    margin-right: -12px;
    margin-left: -12px;
    li {
      padding-right: 12px;
      padding-left: 12px;
      margin-bottom: 40px;
      img {
        margin-bottom: 12px;
      }
      h3 {
        font-size: 20px;
        margin-bottom: 12px;
      }
    }
  }
  .restock-section {
    padding: 64px 0;
  }
  .restock-product-card-list {
    overflow-x: visible;
    li {
      flex: 1;
    }
  }
  .collab-section {
    padding: 48px 0;
    .collab-banner {
      background-image: url(./img/banner-kevin.png);
      min-height: 470px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .decoration-star {
        top: 60px;
        left: calc(50% - 400px);
      }
      .decoration-line {
        right: calc(50% - 400px);
        bottom: 130px;
      }
      .collab-title {
        flex-direction: row;
        align-items: center;
        gap: 24px;
        margin-top: 100px;
      }
      .d-none {
        display: none;
      }
      h3 {
        font-size: 48px;
      }
      span {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
      .collab-subtitle {
        margin-bottom: 32px;
        font-size: 32px;
      }
      a {
        margin-top: 48px;
        margin-bottom: 84px;
      }
      .carousel-indicators {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-bottom: 8px;
      }
      .indicator {
        width: 8px;
        height: 8px;
        background-color: #ced4da;
        border-radius: 50%;
      }
      .indicator.active {
        width: 24px;
        border-radius: 4px;
        background-color: #6c757d;
      }
    }
  }
  .product-series {
    padding: 64px 0;
    h2 {
      font-size: 32px;
    }
  }
  .product-series-list {
    margin: 0 -12px;
    li {
      width: 25%;
      padding: 0 12px;
      margin-bottom: 0;
    }
  }
  .style-guide {
    padding: 64px 0;
    h2 {
      font-size: 32px;
    }
    .style-guide-list {
      overflow-x: visible;
      margin: 0 -4px;
    }
    .style-guide-left,
    .style-guide-center,
    .style-guide-right {
      width: 33.3333%;
      ul {
        flex-wrap: wrap;
      }
      li {
        width: 50%;
        flex: 0 0 50%;
        padding: 0 4px;
      }
    }
    .style-guide-left {
      li:nth-child(3) {
        flex-basis: 100%;
        margin-top: 8px;
      }
    }
    .style-guide-center {
      li:nth-child(1),
      li:nth-child(2),
      li:nth-child(3),
      li:nth-child(4) {
        margin-bottom: 8px;
      }
    }
    .style-guide-right {
      li:nth-child(1) {
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 8px;
      }
    }
  }
  .member-promo {
    margin-top: 48px;
    .promo-inner {
      p {
        font-size: 24px;
        margin-right: 24px;
      }
      a {
        padding: 12px 24px;
      }
    }
  }
  /* productList.html */
  .product-list-layout {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .breadcrumb {
    .breadcrumb-list {
      gap: 12px;
      font-size: 16px;
    }
  }
  .product-list-title {
    padding: 7px 0;
    margin: 24px 0;
    font-size: 28px;
  }
  /* product-layout */
  .product-layout {
    display: flex;
  }
  .product-sidebar {
    display: block;
    width: 20%;
    margin-right: 48px;
    .category-item {
      margin-bottom: 20px;
      a {
        padding: 8px 0;
      }
      a:hover {
        color: #57a203;
      }
      &.active a {
        color: #57a203;
      }
    }
  }
  .product-content {
    width: 80%;
  }
  .product-list {
    margin: 0 -12px;
    .card {
      width: 33.3333%;
      padding: 0 12px;
      margin-bottom: 48px;
      img {
        margin-bottom: 12px;
      }
    }
    li:nth-child(10) {
      display: none;
    }
  }

  .pagination {
    margin-top: 0;
  }
  .footer {
    margin: 64px 0;
    .footer-top {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .nav-list {
        display: flex;
        gap: 40px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .collab-section {
    .collab-banner {
      .decoration-star {
        left: calc(50% - 350px);
      }
      .decoration-line {
        right: calc(50% - 320px);
      }
    }
  }
  .product-series-list {
    h4 {
      font-size: 28px;
    }
    p {
      font-size: 24px;
    }
  }
}
